* {
    background-color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}
.container {
    background-color: white;
    width: 1290px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.slider {
    left: -4565px;
    gap: 25px;
    position: absolute;
    background-color: white;
    width: 10000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    user-select: none;
    background-color: red;
    width: 400px;
    font-size: 150px;
    height: 100%;
}
img {
    user-select: none;
    pointer-events: none;
    width: 400px;
    height: 100%;
    user-select: none;
}
/* @media screen and (max-width: 1280px) { div.container {width: 1200px;} }  */
