* {
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    /* background-color: burlywood; */
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;
    position: relative; */
}
.slider {
    bottom: 50%;
    gap: 25px;
    position: absolute;
    background-color: cornflowerblue;
    width: 10000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    background-color: red;
    width: 400px;
    font-size: 150px;
    height: 100%;
}
:nth-child(2) {
    background-color: white;
}
:nth-child(3) {
    background-color: green;
}
:nth-child(4) {
    background-color: blue;
}
:nth-child(5) {
    background-color: blueviolet;
}
:nth-child(6) {
    background-color: yellow;
}